@import "../../../../../assets/variables/globalVariables.scss";

.propertyCardContainer{
    // position: relative;
    // display: flex;
    // align-items: center;

    img{
        // object-fit: contain;
        width: 8rem;
        height: 8rem;
        margin-right: .5rem;
    }

    div:first-child {
        display: flex;
        flex-direction: column;

        small {
            color: $black_primary;
            padding-left: .2rem;
        }

        .mediaRateCard {
            display: flex;
            align-items: center;
        }
    }

    .titleContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // span{
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    // }
}