@import "../../assets/variables/globalVariables.scss";

.checkout-container{
     background-color: $black_primary; 
    font-family: $raleway;
    .title_checkout_container{
        color: $white_primary;
    }
    .structure-info-container{
        h4{
            color: $white_primary;
        }
        small{
            color: $lightgray
        }
    }
        .details-info-container{
            background-color: $secondary_lighter;
            h3{
                color: $black_primary;
            }
            .detail-info{
                display: flex;
                justify-content: space-between;
            }
            .line_out{
                padding: 0 1rem;
                .line {
                        height: 1px;
                        width: 100%;
                        background-color: $black_primary
                    }
            }
            
        }
}