@import "../../../../assets/variables/globalVariables.scss";


//all


// .column {
//     flex-direction: column;
// }

// .flex {
//     display: flex;
// }
// .space{
//     justify-content: space-around;

// }
// .center {
//     justify-content: center;
//     align-items: center;
// }

.color {
    background-color: $black_primary;
}

//simple
.w {
    color: $white_primary;
}
.txt{
    text-align: center;
    margin-bottom: 10px;
    a{
        color: $white_primary;
        text-decoration: underline;
    }
}
.title{
    font-size: xx-large;
}

.btn-primary {
    background-color: $primary;
    color: $white_primary;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    width: 100px;
    padding: 0.3rem;
}
.btn-secondary{
    // border: none;
    // background: none;
    color: $white_primary;
}

