@import "../../../assets/variables/globalVariables.scss";

.announce_room_container{
    min-height: 85vh;
    background-color:$black_primary;
    color: $white_primary;
    h2,h3{
        color: $white_primary;
    }
    h2{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
        .back-button{
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: black;
        }
    .padding_page{
        padding: 2rem;
        .price_checkout_in_date{
            margin-bottom: 2rem;
        }
        .description_container_room{
            margin-bottom: 3rem;
        }
        .number_people{
            margin-left: .5rem;
        }
        .contact-host{
            text-align: center;
            margin-top: 4rem;
            button{
                cursor: pointer;
                background-color: $primary;
                border-style: none;
                padding: .5rem 1rem;
                border-radius: .5rem;
                font-weight: bold;
            }
        }
    }
   
}

@media all and (max-width:992px) {
    .announce_room_container{
        
    }
    
}