@import "../../../assets/variables/globalVariables.less";

.disclaimer_container{
    color: @white_primary;
    margin-top: 2rem;
    font-size: x-small;
    span{
        font-style: italic;
        color:@lightgray
    }
    .first{
        margin-right: 1rem;
    }
}