@import "../../../../assets/variables/globalVariables.scss";

.favourites-page {
   min-height: 100vh;
   color: $white_primary;
   background-color: #44403C;
   display: flex;
   flex-direction: column;
   padding: 0 5vw 15vh;

   h1 {
      color: $white_primary;
      margin: 2rem 0 1rem;
   }

   .pagination {
      margin: 1rem 0;
   }
}

@media (min-width:481px) {
   .favourites-page {
      padding: 0 5vw;
   }
}

@media (min-width: 576px){
   .favourites-page {
      padding: 0 10vw;
   }
}

@media (min-width: 768px) {
   .favourites-page {
      padding: 0 15vw;
   }
}

@media (min-width: 992px) {
   .favourites-page {
      padding: 0 20vw;
   }
}