@import '../../../../../../assets/variables/globalVariables.scss';

.home .searchFormContainer {
   form>* {
      margin: 0 5px;
   }

   .ant-space.ant-space-vertical {
      max-width: 200px;
   }

   .ant-input-number-input {
      max-width: 36px;
      text-align: center;
   }

   .ant-input-number-handler-wrap {
      display: none;
   }
}

.modal .searchFormContainer {
   form {
      display: flex;
      flex-direction: column;
   }
}