@import "../../../../assets/variables/globalVariables.scss";

footer {
    background-color: var.$secondary_lighter;
    color: var.$black_primary;
    padding: 4vh 7vw;

    .container_links_footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    ul {
        padding-inline: 0;
    }

    ul li {
        list-style: none;
        cursor: pointer;
        margin: .5rem 0;
    }

    .disclaimer_container_footer {
        margin-top: 2rem;
        // font-size: x-small;
        color: $black_primary;
        // span{
        //     font-style: italic;
        // }
        // .first{
        //     margin-right: 1rem;
        // }
    }

    .becomeHost {
        background-color: var.$primary;
        padding: 0.5rem;
        width: 200px;
        color: var.$white_primary;
        border-radius: 2rem;
        font-size: 1.2rem;
        // border: none;
        // font-weight: bold;
        // cursor: pointer;
    }
    // .cursorOnLink{
    //     cursor: pointer;
    // }
}


@media all and (max-width:480px) {
    footer {
        padding-bottom: 19vh;
    }
}

@media all and (max-width:360px) {
    footer .container_links_footer {
        flex-direction: column;
    }
}