footer{
    padding-left: 7vw;
    padding-right: 7vw;
    padding: 4vh;
    ul{
        padding-inline: 0;
    }
    ul li{
        list-style: none;
    }
}

@media all and (max-width:480px) {
    footer{
        padding-bottom: 19vh;
    }
}
