// local variables
$upperright_width: 100px;
$card_height: 150px;

.h_card_container {
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    background-color: #EADDD4;
    border-radius: 1rem;
    margin: .5rem 0;
    //align-items: center;

    .card_img {
        max-height: 150px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: .5rem;
        margin-right: 2rem;
    }

    .card_title {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .card_body {
        margin-top: .25rem;
        width: 100%;

    }

    .card_main {
        display: flex;
        justify-content: space-between;
        //height: calc($card_height - 2rem); //same as card_img

        .left_col {
            flex-basis: calc(100% - $upperright_width);
        }

        /* .right_col {
            width: $upperright_width;
            text-align: end;
        } */
    }

    .subtitle_and_text {
        display: flex;
        flex-direction: column;

        .card_text {
            //max-height: 4rem;
            word-break: break-all;
            // next: need to add truncate to text, therefore a height should be set
            /* white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        }
    }



    .card_footer_right_and_left {
        display: flex;
        justify-content: space-between;
    }

    .card_footer_right{
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px) {
    .h_card_container {
        flex-direction: column;
        justify-content: center;

        .card_img {
            margin: 0;
            max-height: 300px;
        }

        .card_footer_right_and_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

@media screen and (max-width: 992px) {}