@use '../../../../../assets/variables/globalVariables.scss' as var;

.container_structure_operation {
    margin: 20px auto 20px auto;
    padding: 25px 55px 25px 55px;
    width: 95%;
    //   height: 93vh;
    background-color: var.$white_primary;
    border-radius: 10px;

    .button_container {
        display: float;
        margin: 55px;
    }

    .button_add_structure {
        border-radius: 5px;
        float: right;
    }

    .title_messages_page {
        font-weight: bold;
        font-size: var.$fs-2;
    }

    .border_radius_all_input {
        border-radius: 5px;
        margin-bottom: 35px;
    }

    .input_announce,
    .input_text_area {
        width: 75%;
        background-color: var.$white_primary;
    }


    .input_zip_code {
        background-color: var.$white_primary;
    }

    .input_group_address {
        width: 100%;

        .input_group_flex {
            display: flex;
        }

        .input_margin {
            margin-right: 35px;
        }

        .input_address {
            width: 100%;
            background-color: var.$white_primary;
        }
    }

    .check_block {
        display: flex;

        .input_time_picker {
            margin: 0 20px 0 0;
            background-color: var.$white_primary;
        }
    }
}