.mapContainer{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.imagePopup{
    // object-fit: contain;
    width: 8rem;
    height: 8rem;
    margin-right: .5rem;
}