@primary: #2A8BA8;
@secondary: #B38B57;
@secondary-fade: lighten(@secondary, 20%);
@secondary-fade1: lighten(@secondary, 40%);

@black-primary: #44403C;
@black-primary-fade: lighten(@black-primary, 20%);
@black-primary-light: lighten(@black-primary, 40%);

@white-primary: #FFF9F5;