@import "../../../../assets/variables/globalVariables.scss";
.cardLayout{
    margin: 1rem auto;
    width: 80%;
    // padding: 1rem;
    background-color: $secondary_dark;
    // border-radius: 10px;
}