@use '../../../../../assets/variables/globalVariables.scss' as var;

.container_message_list {
    margin: 20px auto 20px auto;
    padding: 25px 55px 25px 55px;
    width: 95%;
    //   height: 93vh;
    background-color: var.$white_primary;
    border-radius: 10px;

    .button_go_back {
        font-size: var.$fs-1;
        font-weight: var.$fw-bold;
        margin: 10px 0 30px 0;
        cursor: pointer;
    }

    .admin_message_list {
        border-bottom: 2px solid var.$black_primary_light;
        padding-bottom: 2rem;
    }

    .title_messages_page {
        font-weight: var.$fw-bold;
        font-size: var.$fs-1;
    }
}

@media screen and (max-width: 439px) {
    .container_message_list {
        margin: 20px auto 20px auto;
        padding: 15px 0 15px 0;
    }
}