.container_upload_foto {
  .ant-upload-list-picture-card-container {
    width: 30%;
    height: 30%;
  }

  //   .ant-upload-select {
  //     width: 30%;
  //     height: 70%;
  //   }

  .ant-upload-select-picture-card {
    width: 30%;
    height: 323px;
  }

  // .ant-upload-select-picture-card {
  //   width: 30%;
  //   height: 30%;
  // }
}
