@import '../../../../../assets/variables/globalVariables.scss';
.researchContainer {
    background-color: $black_primary;
    padding-bottom: 3rem;

    .ButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}