@import '../../../../../assets/variables/globalVariables.scss';

.researchContainer {
   background-color: $black_primary;
   padding-bottom: 3rem;

   .home-search {
      width: 100%;
   }

   .ButtonContainer,
   .searchFormContainer,
   form {
      width: 100%;
   }

   .ButtonContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: 80vw;
      margin: 0 auto;
   }
}

.filters-modal .ant-slider-track,
.filters-modal .ant-slider:hover .ant-slider-track {
   background-color: $secondary
}

.filters-modal .ant-slider .ant-slider-rail {
   background-color: rgba(179, 139, 87, 0.15);
}

.filters-modal .ant-slider:hover .ant-slider-rail {
   background-color: rgba(179, 139, 87, 0.30);
}

.filters-modal .ant-slider-handle,
.filters-modal .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
   border-color: $secondary;
}

.filters-modal .filter-container {
   background-color: $white_primary;
   color: $black_primary;
}

.filters-modal .filter-container input[type="checkbox"] {
   margin-right: 0.2rem;
}

.filters-modal h3 {
   color: $white_primary;
   margin: 0.5rem 0;
}

.filters-modal input[type="submit"] {
   margin-top: 1rem;
}


@media (min-width: 650px) {
   .home-search {
      width: auto;
   }
}