@use '../../../../../assets/variables/globalVariables.scss' as var;

.host_choice {
    cursor: pointer;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$secondary;
    color: var.$white_primary;
    margin: 20px 0 0 20px;
    border-radius: 13px;
    font-weight: var.$fw-bold;
}

.title-setup {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .go_back {
        cursor: pointer;
        font-size: var.$fs-1;
    }
}

.host_type_pick {
    display: flex;
    flex-direction: column;
    align-items: center;
}