@use './assets/variables/globalVariables.scss' as var;
@import '~antd/dist/antd.css';

body {
    margin: 0;
    color: var.$black_primary;
    font-family: var.$raleway;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var.$fw-bold;
}

a {
    color: var.$black_primary;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}