@import '~antd/dist/antd.css';
@import './assets/variables/globalVariables.scss';

body {
    margin: 0;
    color: $black_primary;
    font-family: $raleway;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $fw-bold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
