.rate_container{
    display: flex ;
    justify-content: flex-start ; 
}
.rate_item{
    margin-right: 10px;
    font-size: 10px;
}
.icon_edit{
    // z-index: 1000;
    margin-right: 10px
}
// .icon_disable{
//     z-index: 1000;
// }